{% extends 'layout.html.twig' %}

{% block contents %}
	<div class="row">
		<div class="col-md-3 text-center">
		    {% if book.image %}
		        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg"/>
		    {% endif %}
	    
		   
	    	<div>
	    		{{ book.titre }} de <em>{{ book.auteur }}</em>
	    	</div>
	    	<div>
		    	Disponibles : {{book.exemplairesDispo|length}}
		    </div>
	    </div>
	    
    	<div class="col-md-6">
    		 <p>
    			{{book.synopsis}}
    		</p>
    	</div>
    </div>
	 {% if app['session'].get('admin') == true %} 
		{% if book.exemplairesDispo|length >0 %}
	    <table class="table">
	    	<thead>
	    		<td>Exemplaires disponible</td>
	    	</thead>
	    	<tbody>
	    	 {% for exemplaire in book.exemplairesDispo %}   
	    		<tr>
	    			<td>{{exemplaire.id}}</td>
	    			{% if app['session'].get('admin') == true %}
		    			<td>
	    					<a href="{{path('emprunter',{book: book.id,exemplaire:exemplaire.id})}}" class="btn btn-primary">
	    						Emprunter
	    					</a>
		    			</td>
	    			{% endif %}
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>
	    {% endif %}

	    {% if book.exemplairesPris|length >0%}
	    <table class="table">
	    	<thead>
	    		<td>Exemplaires empruntés</td>
	    	</thead>
	    	<tbody>
	    	 {% for exemplaire in book.exemplairesPris %}   
	    		<tr>
	    			<td>{{exemplaire.id}}</td>
	    			{% if app['session'].get('admin') == true %}
		    			<td>
	    					<form method="post" action="{{path('rendre',{book: book.id,exemplaire:exemplaire.id})}}">
	    						<button type="submit" class="btn btn-success">
	    							Rendre
	    						</button>
	    					</form>
		    			</td>
	    			{% endif %}
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>
	    {%endif%}
	{%endif%}
{% endblock %}
