{% extends 'layout.html.twig' %}

{% block contents %}
	<div class="row">
		<div class="col-md-3 text-center">
		    {% if book.image %}
		        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg"/>
		    {% endif %}
	    
		   
	    	<div>
	    		{{ book.titre }} de <em>{{ book.auteur }}</em>
	    	</div>
	    </div>
	    <div class="col-md-9">
	    	<form method="post">

		    	<div class="form-group">
			    	<label>Exemplaire</label>
			    	<span>{{exemplaire}}</span>
		    	</div>
		    	<div class="form-group">
			    	<label>Nom de l'emprunteur</label>
			    	<input type="text-field" name="nom_emprunteur">
		    	</div>
		    	<div class="form-group">
			    	<label>Date de retour</label>
			    	<input type="text-field" id="dateRetour" name="date_fin">
		    	</div>
			    <button class="btn btn-primary" type="submit">
			    	Emprunter ce livre
			    </button>
		    </form>
	    </div>
    </div>
    <script type="text/javascript">
    	$(function (argument) {
    		$('#dateRetour').datepicker({
		    format: 'yyyy-mm-dd',
		    startDate: '-3d'
			})
    	});
    	
	</script>
{% endblock %}
