<!DOCTYPE html>
<html>
    <head>
        <title>Bibliothèque</title>
        <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
        <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/datepicker.css" />
        <link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon" />
         <script src="{{ app.request.basepath }}/bootstrap/js/jquery-2.2.0.min.js">
        </script>
        <script src="{{ app.request.basepath }}/bootstrap/js/bootstrap-datepicker.js">
        </script>
    </head>
    <body>
        <div class="container">
            <div class="pull-right">
                <img class="logo" src="{{ app.request.basepath }}/css/books.png" />
            </div>

            <h1>Bibliothèque</h1>

            <nav class="navbar navbar-default">
               <ul class="nav navbar-nav">
                    <li class="{% if home_active is defined %}active{% endif%}">
                        <a href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="{% if books_active is defined %}active{% endif%}">
                        <a href="{{ path('books') }}">Les livres</a>
                    </li>
                    {% if app['session'].get('admin') == null %}
                        <li class="{% if admin_active is defined %}active{% endif%}">
                            <a href="{{ path('admin') }}">Administration</a>
                        </li>
                    {% endif%}
                    {% if app['session'].get('admin') == true %}
                        <li class="{% if add_book_active is defined %}active{% endif%}">
                            <a href="{{ path('addBook') }}">Ajouter un livre</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">Déconnexion</a>
                        </li>
                    {% endif%}
               </ul>
            </nav>

            {% block contents %}{% endblock %}
        </div>
    </body>
</html>
